main{
    background-image: url(ASSETS/NETFLIX\ BACKGROUND.jpg);
    height: 100vh;
    width: 100vw;
    background-size: fill;
}

main .box{
    height: 91vh;
    width: 100vw;
    opacity: 0.78;
    background-color: black;
    
}
*{
    margin: 0;
    padding: 0;
    
}


span1{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 30px;
    color: white;
    background-color: black;
   left: 680px;
   position: relative;
    cursor: pointer;
   transition: 0.3s;
}
span1:hover{
    transform: translateY(-5px);
}

span2{
    background-color: #e50914;
    border-radius: 5px;
    padding: 5px 30px;
    color: white;
    margin-left: 690px;
    cursor: pointer;
    transition: 0.3s
}
span2:hover{
    transform: translateY(-5px);
}

nav{
    display: flex;
    align-items: center;
    max-width: 100vw;
    margin-left: 50px;
    padding-top: 10px;
}
.flex{
    width: 100vw;
    height: 60px;
    opacity: 0.78;
    background-color: black;
}
h1{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
}
h2{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}
p{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}
span3 input{
    background-color:rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-size: 20px;
    position: relative;
    left: 26%;
    top: 30px;
    padding-left:10px;
    padding-right: 130px;
    border: 0.5px solid white;

}
span4{
    background-color:#e50914;
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-size: 20px;
    position: relative;
    left: 26.5%;
    top: 30px;
    padding-left:10px;
    padding-right:70px;
    border: 0.5px #e50914 solid;
    cursor: pointer;
    
}
footer{
    background-color: black;
    
    
    width: 100vw;
}
h3{
    color: white;
    text-align: left;
    padding: 20px ;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.trending{
    display: flex;
    justify-content: space-evenly;
    
}
span{
    color: white;
    font-size: 65px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span img{
    border-radius: 10px;
}
.grid1{
    display: grid;
    
}
h4{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
p{
    color: gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding:10px;
}
.gr1{
    text-align: center;
    border: 0.5px solid white;
    border-radius: 10px;
    padding: 50px;
    margin-left: 60px;

}
.gr2{
    text-align: center;
    border: 0.5px solid white;
    border-radius: 10px;
    padding: 50px;
    margin-right: 60px;

}
.gr3{
    text-align: center;
    border: 0.5px solid white;
    border-radius: 10px;
    padding: 50px;
    margin-left: 60px;

}
.gr4{
    text-align: center;
    border: 0.5px solid white;
    border-radius: 10px;
    padding: 50px;
    margin-right: 60px;

}
h5{
    color: white;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    border: rgb(45, 44, 44) 0.5px solid;
    background-color: rgb(33, 32, 32);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}
span5 input{
    background-color:rgb(21, 21, 21);
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-size: 20px;
    position: relative;
    left: 26%;
    top: 30px;
    padding-left:10px;
    padding-right: 130px;
    border: 0.5px solid white;

}   
h6{
    color: gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 100px;
} 
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
    padding:10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.gr5{
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    color: gray;
}
.gr6{
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    color: gray;
}
.gr7{
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    color: gray;
}
.gr8{
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    color: gray;
}
.gr9{
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    color: gray;
}
.gr10{
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    color: gray;
}
.gr11{
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    color: gray;
}
.gr12{
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    color: gray;
}
.gr13{
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    color: gray;
}
.gr14{
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    color: gray;
}
.gr15{
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    color: gray;
}
.gr16{
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    color: gray;
}
.gr17{
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    color: gray;
}
.gr18{
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    color: gray;
}
.gr19{
    text-align: left;
    text-decoration: underline;
    font-size: 15px;
    color: gray;
}
span6{
     border: 1px solid white;
    border-radius: 5px;
    padding: 5px 30px;
    color: white;
    background-color: rgb(21, 21, 21);
   margin: 50px;
   position: relative;
}
p1{
    color: gray;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-bottom: 50px;
}
p2{
    color: rgb(36, 71, 243);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-decoration: underline;
    margin-top: 50px;
}
.shradha{
    width: 100vw;
    height: 100px;
    background-color: black;
}
body{
    background-color: black;
}
@media (max-width: 768px) {

    
    nav {
        justify-content: space-between;
        margin-left: 15px;
        margin-right: 15px;
    }

    span1 {
        left: 0;
        padding: 5px 15px;
        font-size: 14px;
    }

    span2 {
        margin-left: 10px;
        padding: 5px 15px;
        font-size: 14px;
    }

    nav img {
        width: 100px;
        height: auto;
    }

   
    h1 {
        font-size: 32px;
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }

    h2, p {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }

   
    span3 input,
    span5 input {
        left: 0;
        width: 90%;
        margin: 20px auto;
        display: block;
        padding-right: 10px;
        font-size: 16px;
    }

    span4 {
        left: 0;
        width: 90%;
        margin: 10px auto;
        display: block;
        text-align: center;
        font-size: 16px;
    }

    
    .trending {
        overflow-x: auto;
        gap: 15px;
        padding: 10px;
    }

    .trending span {
        font-size: 40px;
        min-width: 140px;
    }

    .trending img {
        width: 120px;
        height: auto;
    }

    
    .grid1 {
        grid-template-columns: 1fr;
    }

    .gr1, .gr2, .gr3, .gr4 {
        margin: 0;
        padding: 30px;
    }

   
    h5 {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 16px;
    }

    
    .grid2 {
        grid-template-columns: 1fr 1fr;
        margin-left: 15px;
        margin-right: 15px;
    }

    h6, p1, p2 {
        margin-left: 15px;
        margin-right: 15px;
    }

    span6 {
        margin: 15px;
        display: inline-block;
    }
}



@media (min-width: 769px) and (max-width: 1024px) {

    h1 {
        font-size: 40px;
    }

    span3 input,
    span5 input {
        left: 10%;
    }

    span4 {
        left: 10%;
    }

    .grid1 {
        grid-template-columns: 1fr;
    }

    .grid2 {
        grid-template-columns: 1fr 1fr;
    }
}

